/* body{
  background-image: url("../src/assests/3409297.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;  
  margin: 0;
  padding: 0;
} */
